body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
  background: rgb(19, 19, 19);
  margin: auto;
}
h3 {
  margin: 0vw;
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
button, .button {
  /* height: 10.66667vw; */
  border-radius: 2.66667vw;
  outline: none;
  /* border: none; */
}
.header {
    position: relative;
    width: 100%;
    height: 12vw;
    z-index: 4;
}
.header h2 {
  font-size: 4.8vw;
  font-weight: 600;
  line-height: 12vw;
  color: #fff;
  text-align: center;
}
ul {
  list-style: none;
  padding: initial;
}
div {
  margin: 0vw
}
.header .back {
  position: absolute;
  width: 12vw;
  height: 12vw;
  top: 0;
  left: 0;
  background-image: url("../images/lottery/arrow001.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 40%;
  font-size: 0; }

  .header div.backtolist {
    position: absolute;
    right: 3vw;
    top: 4vw;
    color: rgb(255, 153, 0)
  }
  .list {
    background-color: black;
    color: white;
    height: auto;
    top: -5vw;
    position: relative;
  }

  .loginBody {
    text-align: center;
  }
  .loginBody .op{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0vw;
    opacity: 0.1;
    z-index: 3;
  }
  .loginBody .title {
    font-size: 10vw;
    position: relative;
    display: none;
    color: rgb(255, 0, 0);
  }
  .loginBody .title h1 {
    margin: 3vw 3vw 2vw 3vw;
  }

  .login {
    background-color: #fff;
    position: relative;
    width: 280px;
    height: 165px;
    padding: 2vw;
    margin:0 auto;
    border-radius: 2vw;
    display: none;
    z-index: 5;
  }
  .login span {
    font-size: 34px;
    font-weight: 700;
  }
  .login input {
    position: relative;
    margin: 20px auto;
    font-size: 21px;
    overflow: hidden;
    width: 215px;
  }
  .login button {
    font-size: 29px;
    height: 47px;
    width: 100%;
    width: 130px;
    border: none;
    background: #d4d4d4;

  }
  .hall {
    display: none;
    position: relative;
    height: -webkit-fill-available;
    padding: 20px;
    background-image: url('../images/whokills/forest.gif');
    filter:alpha(opacity=100);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: .7;
  }
  .hall .floatl {
    float: left;
    border: white 1px solid;
    border-radius: 2vw
  }
  .hall .floatr {
    float: right;
    border: white 1px solid;
    border-radius: 2vw
  }
  .hall .readymember {
    position: relative;
    width: 74vw;
    height: 545px;
    margin: 0 2vw 2vw 0;
    background-color: rgba(19, 19, 19, 0.9)
  }
  .hall .member {
    position: relative;
    width: 260px;
    height: 430px;
    margin: 0 0 2vw 0;
    background-color: rgba(19, 19, 19, 0.6);
    color: #ffffff
  }
  .hall .carddisplay {
    position: relative;
    width: 74vw;
    height: 315px;
    background-color: rgba(19, 19, 19, 0.6)
  }
  .hall .modeselect {
    width: 260px;
    height: 430px;
    background-color: rgba(19, 19, 19, 0.6)
  }
  .hall .readymember h1 {
    position: relative;
    font-size: 100px;
    margin: 0 0 0 20px;
    color: rgb(36, 36, 36);
  }
  .hall .readymember div {
    position: relative;
    padding: 1.1vw;
    width: 47%;
    height: auto;
    margin: 0;
    float: left;
  }
  .hall .readymember div:nth-last-child() {

    float: right
  }
  .hall .readymember p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 70px;
  }
  .hall .readymember button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 50px;
    left: 45%
  }
  .hall .member h3 {
    text-align: center;
    color: white;
    margin-top: 6px
  }
  .hall .member .memberList {
    margin: 1vw;
    padding: 10px 16px 24px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 17px;
    height: 285px;
  }
  .hall .member .memberList .countPoeple{
    position: absolute;
    bottom: 85px;
    right: 35px;
    color: white
  }
  .hall .member .ready {
    width: 100%;
    text-align: center;
  }
  .hall .member button{
    width: 60px;
    height: 30px;
    background-color: rgb(77, 77, 77);
    border-color: rgb(121, 121, 121);
    color: white
  }
  .hall .carddisplay .information {
    width: 190px;
    padding: 0 20px 20px 20px;
    color: white;
    font-size: 28px
  }
  .hall .carddisplay .card {
    float: left;
    width: 100%;
  }
  .hall .carddisplay img{

    width: 130px;
    height: 200px;
    /* width: 8vw;
    height: 12vw; */
    border-radius: 5px;
    position: absolute;
    top: 60px;
    box-shadow:0px 0px 10px rgba(10,10,0.8);
    float: left;
    transition:0.5s all ease;
  }
  .hall .carddisplay img:nth-child(1){
    left:280px;
    transform: rotate(-15deg)
  }
  .hall .carddisplay img:nth-child(1):hover {
    z-index: 10;
    top: 45px;
  }
  .hall .carddisplay img:nth-child(2){
    left:395px;
    top: 40px;
    transform: rotate(-6deg)
  }
  .hall .carddisplay img:nth-child(2):hover {
    z-index: 10;
    top: 30px;
  }
  .hall .carddisplay img:nth-child(3){
    left:500px;
    top: 40px;
    transform: rotate(6deg);
  }
  .hall .carddisplay img:nth-child(3):hover {
    z-index: 10;
    top: 30px;
  }
  .hall .carddisplay img:nth-child(4){
    left:615px;
    transform: rotate(15deg)
  }
  .hall .carddisplay img:nth-child(4):hover {
    top: 45px;
  }
  .hall .carddisplay img:nth-child(5){
    right: 258px;
  }
  .hall .carddisplay img:nth-child(5):hover {
    z-index: 10;
    top: 45px;
  }
  .hall .carddisplay img:nth-child(6){
    right: 160px;
    z-index: 2;
    top:40px
  }
  .hall .carddisplay img:nth-child(6):hover {
    z-index: 10;
    top: 30px;
  }
  .hall .carddisplay img:nth-child(7){
    right: 50px
  }
  .hall .carddisplay img:nth-child(7):hover {
    z-index: 10;
    top: 45px;
  }
  .hall .modeselect h3 {
    text-align: center;
    color: white;
    margin-top: 6px
  }
  .hall .modeselect div {
    text-align: center;
    margin: 1vw;
    padding: 10px 16px 24px 16px;
    border-radius: 17px;
    height: 330px;
  }
  .hall .modeselect button {
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    background-color: rgb(77, 77, 77);
    border-color: rgb(121, 121, 121)
  }
  .game-bg {
    display: none;
    height: -webkit-fill-available;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
  }
  .top {
    height: 33vw;
    width: 100%;
    text-align: center;
  }
  .top > span {
    color: #5a5a5a;
    float: left;
    font-size: 5vw;
    font-weight: 900
  }
  .top .gameover-btn {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .top .word {
    position: absolute;
    font-size: 57px;
    top: 10%;
    left: 25%;
    color: #ffffff;
    width: 850px;
    text-align: center
  }


  .top .identify {
    position: absolute;
    z-index: 100;
    right: 50px;
    top: 50px;
    border-radius: 1vw;
    width: 151px;
    height: 242px;
    transform-style:preserve-3d;
    transition:0.5s all ease;
    box-shadow:0px 0px 10px rgba(10,10,0.8);
  }
  .top .identify:hover {
  transform:rotateY(180deg);
  }
  .top .identify .card-front {
    position:absolute;
    background-image: url('/static/image/whokills/cardBack.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    backface-visibility:hidden;
  }
  .top .identify .card-back {
    position:absolute;
    width: 100%;
    height: 100%;

    backface-visibility:hidden;
    transform:rotateY(180deg);
  }
  .top .identify .card-back img{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
  }
  .player {
    width: 100%;
  }
  .player ul li {
    /* display: none; */
    position: absolute;
    bottom: 10px;
    width:9%;
    height: 135px;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    background-image: linear-gradient(57deg,#030011,#010046 51%,#966100);
    /* transform:scale(1,1); */
    transition: all .3s cubic-bezier(0.39, 0.58, 0.57, 1);
    box-shadow:0px 0px 10px rgba(10,10,0.8);
  }
  .player ul li:hover {
    transform:scale(1.15,1.15);
    z-index: 7
  }
  .player ul li div{
    width: 100%;
    /* text-align: center; */
    color: rgb(255, 235, 205);
    height: 100%;
    padding-top: 3vw;
    font-weight: 700
  }
  .player ul li div span{
    position: absolute;

    top: -1.5vw;
    margin: 0vw auto;
  }
  .player ul li div p{
    position: inherit;
    width: fit-content;
    margin: 0vw auto;
    bottom: 0vw;
  }
  .player ul :last-child {
    right:5vw;
    z-index: 5;
    bottom: 5vw
  }
  .player ul :nth-child(1) {
    left:5vw;
    z-index: 5;
    bottom: 5vw
  }
  .player ul :nth-child(2) {
    left: 12vw;;
    bottom: 10vw;
    z-index: 4
  }
  .player ul :nth-child(3) {
    left: 21vw;
    bottom: 13vw
  }
  .player ul :nth-child(4) {
    left: 31vw;
    bottom: 15vw

  }
  .player ul :nth-child(5) {
    left: 41vw;
    bottom: 17vw
  }
  .player ul :nth-child(6) {
    left: 52vw;
    bottom: 17vw
  }
  .player ul :nth-child(7) {
    left: 62vw;
    bottom: 15vw
  }
  .player ul :nth-child(8) {
    left: 72vw;
    bottom: 13vw
  }
  .player ul :nth-child(9) {
    left: 80vw;
    bottom: 10vw
  }
  .pass-bt {
    position: absolute;
    bottom: 5vw;
    left: 45vw
  }
  .pass-bt button {
    height: auto;
    font-size: 3vw;
    background: #08002e
  }
  .night {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgb(0, 0, 0, .7)
  }
  .night span {
    position: absolute;
    width: 850px;
    text-align: center;
    top: 5%;
    left: 25%;
    color: white;
    font-size: 58px;
  }
  .wolfvote div {
    position: absolute;
    left: 25%;
    top: 20%;
    color: white;
    font-size: 35px;
  }
  .wolfvote span {
    top: 40%
  }
  .wolfvote div.killspan:nth-child(2){
    left: 45%;
  }
  .wolfvote div.killspan:nth-child(3){
    left: 65%;
  }
  .wolfvote>button {
    position: absolute;
    left: 45%;
    top: 40%;
    font-size: 30px;
  }
  div.selectnumber {
    position: absolute;
    top: 30%;
    left: 34%;
  }
  div.selectnumber button{
    margin-right: 3px;
    width: 50px;
    height: 25px
  }
  .eyecheck {
    display: none;
    top: 40% !important;
    left: 25% !important;
  }
  .witch .witchCard {
    width: 40%;
    position: absolute;
    left: 32%;
    top: 35%;
  }
  .witch span {
    top: 20%
  }
  .witch .witchCard img:nth-child(1) {
    width: 140px;
  }
  .witch .witchCard img:nth-child(2) {
    width: 140px;
    float: right
  }
  .witch>button {
    position: absolute;
    top: 45%;
    left: 50%;
  }
  .witch img {
    transition:0.15s all ease;
    border-radius: 4px
  }
  .witch img:hover {
    transform:scale(1.15,1.15);
  }
  .witch .poison-btn {
    display: none;
    position: absolute;
    top: 60%;
    left: 55%;
  }
  .morningSelectnumber button {
    width: 50px;
    margin-right: 10px;
  }
  .gameover {
    text-align: center;
    top: 40%;
    left: 40%;
    font-size: 50px;
    color: rgb(255, 166, 0);
    z-index: 100;
  }

  ::-webkit-scrollbar {
    width:5px;
  }
  /*定义滚动条轨道
 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
  }
/*定义滑块
 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(175, 175, 175, 0.3);
    background-color:#555;
  }

  .red {
    color: #ff0000 !important;
    font-weight: bolder;
  }
  .light {
    background-image: linear-gradient(57deg,#ffffff,#000000 0%,#ff9900) !important;
  }
  .none {
    background-image: none !important;
  }
  .displaynone {
    display: none
  }
  .displayunset {
    display: unset !important;
  }
  .selectMode {
    background-color: rgb(121, 121, 121) !important;
    border-color: rgb(77, 77, 77) !important;
    color: white
  }

@media screen and (max-width: 600px){

}
